In [1]:
import pandas as pd

In [2]:
df =pd.read_excel("PremiumData_Insuarance.xlsx")

In [3]:
df.head

<bound method NDFrame.head of           Retailer  IPTTaxAmount BrokerAgent  Commission  NettoCompany  \
0       Retailer 1          5.14        Brok       15.44         23.62
1       Retailer 1          0.64        Brok        1.93          2.43
2       Retailer 1          0.75        Brok        2.25          2.83
3       Retailer 1          9.53        Brok       28.63         36.06
4       Retailer 2          4.50        Brok       13.51         17.01
...            ...           ...         ...         ...           ...
106940  Retailer 1          1.07        Brok        3.22          4.22
106941  Retailer 1          2.57        Brok        7.72         10.14
106942  Retailer 1          3.96        Brok       11.90         15.63
106943  Retailer 3         -3.96        Brok      -11.90        -15.63
106944  Retailer 3         -2.57        Brok       -7.72        -10.14

            Admin  NetPremiumtoCompany ReportingDate  TotalSumsInsured  \
0        3.307959                23.62    2021-07-01            299.99
1        0.940408                 2.43    2021-07-01             99.99
2        1.102245                 2.83    2021-07-01            149.99
3       14.034082                36.06    2021-07-01            749.99
4        6.622857                17.01    2021-07-01            599.99
...           ...                  ...           ...               ...
106940   1.393878                 4.22    2023-02-01             99.99
106941   3.353061                10.14    2023-02-01            199.99
106942   5.181020                15.63    2023-02-01            299.99
106943  -5.181020               -15.63    2023-02-01            299.99
106944  -3.353061               -10.14    2023-02-01            199.99

       Currency  ...  RetailPremiumexIPT  IPTTaxRate  TotalPaidbyConsumer  \
0           GBP  ...               42.85    0.119953                47.99
1           GBP  ...                5.35    0.119626                 5.99
2           GBP  ...                6.24    0.120192                 6.99
3           GBP  ...               79.46    0.119935                88.99
4           GBP  ...               37.49    0.120032                41.99
...         ...  ...                 ...         ...                  ...
106940      GBP  ...                8.92    0.119955                 9.99
106941      GBP  ...               21.42    0.119981                23.99
106942      GBP  ...               33.03    0.119891                36.99
106943      GBP  ...              -33.03    0.119891               -36.99
106944      GBP  ...              -21.42    0.119981               -23.99

        RetailPremiumincIPT  UWYOA  CashPayabletoBrok  Type  PolicyNumber  \
0                     47.99   2020           0.482041  Sale      25390468
1                      5.99   2020           0.049592  Sale      25403909
2                      6.99   2020           0.057755  Sale      25390776
3                     88.99   2020           0.735918  Sale      25424939
4                     41.99   2020           0.347143  Sale      25390363
...                     ...    ...                ...   ...           ...
106940                 9.99   2022           0.086122  Sale      26759326
106941                23.99   2022           0.206939  Sale      26764605
106942                36.99   2022           0.318980  Sale      26764645
106943               -36.99   2022          -0.318980  Canx      26764645
106944               -23.99   2022          -0.206939  Canx      26764605

       CashPayabletoUnderwriter  admin
0                         28.76    NaN
1                          3.07    NaN
2                          3.58    NaN
3                         45.59    NaN
4                         21.51    NaN
...                         ...    ...
106940                     5.29    NaN
106941                    12.71    NaN
106942                    19.59    NaN
106943                   -19.59    NaN
106944                   -12.71    NaN

[106945 rows x 22 columns]>

In [4]:
df.describe()

,IPTTaxAmount,Commission,NettoCompany,Admin,NetPremiumtoCompany,TotalSumsInsured,PolicyDurationMonths,Brokerage,RetailPremiumexIPT,IPTTaxRate,TotalPaidbyConsumer,RetailPremiumincIPT,UWYOA,CashPayabletoBrok,PolicyNumber,CashPayabletoUnderwriter,admin
count,106945.000000,106945.000000,106435.000000,106945.000000,106438.000000,106945.000000,106945.0,106440.000000,106945.000000,106945.000000,106945.000000,106945.000000,106945.000000,106433.000000,1.069450e+05,106945.000000,0.0
mean,2.413921,7.149893,9.469540,3.302916,9.470279,334.760830,36.0,0.198272,20.121175,0.119955,22.535096,22.535096,2021.097143,0.198285,2.596302e+07,11.884024,NaN
std,2.484841,7.935573,9.974144,3.340171,9.975929,604.074748,0.0,0.192878,20.711784,0.001242,23.196547,23.196547,0.750684,0.192938,7.944724e+05,12.414646,NaN
min,-13.390000,-83.580000,-88.820000,-20.740000,-88.820000,0.000000,36.0,-1.738163,-111.600000,0.000000,-124.990000,-124.990000,2020.000000,-1.738163,2.033912e+07,-94.600000,NaN
25%,0.960000,2.890000,3.800000,1.393878,3.800000,149.990000,36.0,0.077551,8.030000,0.119888,8.990000,8.990000,2021.000000,0.077551,2.553083e+07,4.760000,NaN
50%,1.930000,5.790000,7.290000,2.656327,7.290000,199.990000,36.0,0.148776,16.060000,0.119974,17.990000,17.990000,2021.000000,0.148776,2.625527e+07,9.220000,NaN
75%,3.210000,9.650000,12.250000,4.342653,12.250000,450.990000,36.0,0.250000,26.780000,0.120170,29.990000,29.990000,2022.000000,0.250000,2.652824e+07,15.360000,NaN
max,14.460000,83.580000,88.820000,21.773673,88.820000,15000.000000,36.0,1.812653,120.530000,0.120787,134.990000,134.990000,2022.000000,1.812653,2.691702e+07,94.600000,NaN

In [6]:
z = df["Retailer"]

In [7]:
z

0         Retailer 1
1         Retailer 1
2         Retailer 1
3         Retailer 1
4         Retailer 2
             ...
106940    Retailer 1
106941    Retailer 1
106942    Retailer 1
106943    Retailer 3
106944    Retailer 3
Name: Retailer, Length: 106945, dtype: object

In [8]:
print(df.Retailer.value_counts())

Retailer 1    64101
Retailer 2    39282
Retailer 3     3562
Name: Retailer, dtype: int64

In [9]:
df.isnull().sum()

Retailer                         0
IPTTaxAmount                     0
BrokerAgent                      0
Commission                       0
NettoCompany                   510
Admin                            0
NetPremiumtoCompany            507
ReportingDate                    0
TotalSumsInsured                 0
Currency                         0
PolicyDurationMonths             0
Brokerage                      505
RetailPremiumexIPT               0
IPTTaxRate                       0
TotalPaidbyConsumer              0
RetailPremiumincIPT              0
UWYOA                            0
CashPayabletoBrok              512
Type                             0
PolicyNumber                     0
CashPayabletoUnderwriter         0
admin                       106945
dtype: int64

In [17]:
import seaborn as sn

In [24]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['Retailer']=encoder.fit_transform(df['Retailer'])
df['ReportingDate'] = change_dates_to_number(df['ReportingDate'])

In [11]:
df.Retailer

0         0
1         0
2         0
3         0
4         1
         ..
106940    0
106941    0
106942    0
106943    2
106944    2
Name: Retailer, Length: 106945, dtype: int32

In [12]:
df.Retailer.unique()

array([0, 1, 2])

In [25]:
x=df.drop(labels=['Retailer'],axis=1)
y=df.Retailer

from sklearn.model_selection import train_test_split
x_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [26]:
df.PolicyNumber.unique()

array([25390468, 25403909, 25390776, ..., 26759326, 26764605, 26764645],
      dtype=int64)

In [27]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer ##handle missing values
from sklearn.preprocessing import StandardScaler ##feature scaling

from sklearn.preprocessing import OneHotEncoder ## categorical to numerical
from sklearn.compose import ColumnTransformer
import pickle

In [41]:
categorical_column =['Type','UWYOA','Currency','BrokerAgent']
numerical_column =['IPTTaxAmount','Commission','NettoCompany','ReportingDate','Admin','NetPremiumtoCompany','TotalSumsInsured','PolicyDurationMonths','Brokerage','RetailPremiumexIPT','IPTTaxRate','TotalPaidbyConsumer','RetailPremiumincIPT','CashPayabletoBrok','PolicyNumber','CashPayabletoUnderwriter']

In [29]:
from datetime import datetime

def date_to_numerical(date_str):
    date = datetime.strptime(date_str[0:10],"%Y-%m-%d")
    number = date.day + date.month*31 + date.year*31*12
    return number
def change_dates_to_number(data):
    return data.apply(date_to_numerical)
a = pd.DataFrame(["2022-09-23","2021-04-21"],columns=['x'])
a = change_dates_to_number(a['x'])
a

0    752486
1    751957
Name: x, dtype: int64

In [30]:
## feature Engineering automation
##numerical pipelines
num_pipeline= Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')), ##missing values
        ('scaler',StandardScaler())
    ]
)


##categorical pipeline
cat_pipeline= Pipeline(
                steps=[
                ('imputer',SimpleImputer(strategy='most_frequent')),##handling missing
                ('onehotencoder',OneHotEncoder())  ##categorical features to numerical
                ]
            )

In [31]:
preprocessor= ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_column),
    ('cat_pipeline',cat_pipeline,categorical_column)
])

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [33]:

x_train = preprocessor.fit_transform(x_train)
x_test = preprocessor.transform(x_test)

In [34]:
df.ReportingDate

0         752030
1         752030
2         752030
3         752030
4         752030
           ...
106940    752619
106941    752619
106942    752619
106943    752619
106944    752619
Name: ReportingDate, Length: 106945, dtype: int64

In [35]:
from sklearn.ensemble import RandomForestClassifier

In [36]:
## model training automation
models ={
    'Random Forest':RandomForestClassifier()
    
}

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
def evaluate_model(x_train,y_train,x_test,y_test,models):
    
    report = {}
    for i in range(len(models)):
        model = list(models.values())[i]
        #train model
        model.fit(x_train,y_train)
        
        #predict testing data
        y_test_pred = model.predict(x_test)
         
            
        
        #get accuracy for test data
        test_model_score = accuracy_score(y_test,y_test_pred)
        report[list(models.keys())[i]] = test_model_score
        
        return report

In [39]:
def training(x_train,y_train,models):
    for i in range(len(models)):
        model = list(models.values())[i]
        #train model
        model.fit(x_train,y_train)
        
        return model

In [40]:
test_data = pd.read_excel('TestingData.xlsx')
test_data['ReportingDate'] = change_dates_to_number(test_data['ReportingDate'])

In [ ]:
categorical_column =['Type','UWYOA','Currency','BrokerAgent']
numerical_column =['IPTTaxAmount','Commission','NettoCompany','ReportingDate','Admin','NetPremiumtoCompany','TotalSumsInsured','PolicyDurationMonths','Brokerage','RetailPremiumexIPT','IPTTaxRate','TotalPaidbyConsumer','RetailPremiumincIPT','CashPayabletoBrok','PolicyNumber','CashPayabletoUnderwriter']

In [42]:
x_test2 = preprocessor.transform(test_data)

In [43]:
n= len(x_test2)

In [46]:
def prediction(x_test, model):
    model.fit(x_train,y_train)
        
    #predict testing data
    y_test_pred = model.predict(x_test)
    return y_test_pred

In [47]:
model = training(x_train, y_train, models)
pred = prediction(x_test2,model)

In [48]:
data={'Record key':range(1,(n+1)),'Retailer':pred+1}
pred_df = pd.DataFrame(data)
pred_df
PredictionResult= pred_df.to_excel('datafinal.xlsx',index = False)

In [49]:
evaluate_model(x_train,y_train,x_test,y_test,models)

{'Random Forest': 0.9710598905979709}